<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>Register</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
		<style>
		input{
			border-radius: 10px;
			border-color: #000;
		}
		</style>
	</head>
	<body>
        <center style="top :50%; left: 50%; transform:translate(-50%,-50%); position:absolute;">
        <form action="/editname/<%=book._id%>"+ method="post">
        	<input name="name" type="text" value="<%=book.name%>"><br><br>
        	<input name="phone" type="text" value="<%=book.phoneno%>"><br><br>
        	<input name="address" type="text" value="<%=book.address%>"><br><br>
     <button type="submit" class="btn-success">Edit</button>
    </form>
</center>
    </body>
</html>